<div ng-controller="FamilyController">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3">
            <input type="text" class="form-control" ng-model="query" placeholder="Search {First Name} and {Last Name}"/>

            <br />

            <a href="#/family/create" class="btn btn-default">Create New Person</a>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Name Reversed</th>
                    <th>Date of Birth</th>
                    <th>Actions</th>
                </tr>
                <tr ng-repeat="person in family.members | filter:search | orderBy:['first_name', 'last_name']">
                    <td>{{person.first_name}}</td>
                    <td>{{person.last_name}}</td>
                    <td>{{person.first_name + ' ' + person.last_name | reverse | capitalize}}</td>
                    <td>{{person.date_of_birth}}</td>
                    <td>
                        <div class="btn-group">
                            <a href="#/family/{{person.id}}" class="btn btn-default">View Profile</a>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#/family/update/{{person.id}}">Update</a></li>
                                <li><a href="#/family" ng-click="deletePerson(person.id)">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>