<div ng-controller="ProfileController">
    <a href="#/family/" class="btn btn-default">Go back to the Family</a>
    <h2>Update</h2>

    <form name="form"  class="form-horizontal css-form" novalidate>
        <div class="form-group">
            <label for="first_name" class="col-lg-2 control-label">First Name</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" id="first_name" placeholder="First Name" ng-model="person.first_name" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="last_name" class="col-lg-2 control-label">Last Name</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" id="last_name" placeholder="Last Name" ng-model="person.last_name" required/>
            </div>
        </div>

        <div class="form-group">
            <label for="date_of_birth" class="col-lg-2 control-label">Date of Birth</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" id="date_of_birth" placeholder="Date of Birth"
                       ng-model="person.date_of_birth"
                       datepicker
                       required
                       />
            </div>
        </div>

        <div class="form-group">
            <label for="biography" class="col-lg-2 control-label">Biography</label>
            <div class="col-lg-4">
                <textarea class="form-control" rows="5" placeholder="Biography" ng-model="person.biography"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="avatar" class="col-lg-2 control-label">Avatar</label>
            <div
                file-upload
                action='back-end/person/upload/{{person.id}}'
                btn-class='btn btn-small'
                btn-label="Choose Image"
                input-name="image"
                on-success='serieImageUploaded(responseText)'
                progress-class='btn btn-small'>

            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default"
                        ng-click="save(person)"
                        ng-disabled="form.$invalid"
                        >Update</button>
            </div>
        </div>
    </form>
</div>

<style type="text/css">
    .css-form input.ng-invalid.ng-dirty {
        background-color: #FED6D8;
    }
</style>